<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened="true">
    <mat-toolbar  class="maior"></mat-toolbar>
    <mat-card>
    <ul>
      <li>
      <mat-card-content>
          Alguma Coisa
      </mat-card-content>
      </li>
      <li>
          <mat-card-content>
          Alguma Coisa
          </mat-card-content>
      </li>
      <li>
          <mat-card-content>
          Alguma Coisa
          </mat-card-content>
      </li>
      <li>
          <mat-card-content>
          Alguma Coisa
          </mat-card-content>
      </li>
    </ul>
    </mat-card>   
      
  </mat-drawer>
  <mat-drawer-content>
      <mat-toolbar><span><button mat-icon-button><i class="material-icons">exit_to_app</i></button></span></mat-toolbar>
      
      <mat-card>
          <mat-card-content>
              Alguma Coisa
          </mat-card-content>
          <mat-card-content>
              Alguma Coisa
          </mat-card-content>
          <mat-card-content>
              Alguma Coisa
          </mat-card-content>
        </mat-card>

      <mat-toolbar id="footertool"><span>Footer</span></mat-toolbar>
  </mat-drawer-content>
  </mat-drawer-container>