<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" opened="true">
    <mat-toolbar class="maior"></mat-toolbar>
    <mat-card>
      <ul>
        <li>
          <mat-card-content>
            Alguma Coisa
          </mat-card-content>
        </li>
        <li>
          <mat-card-content>
            Alguma Coisa
          </mat-card-content>
        </li>
        <li>
          <mat-card-content>
            Alguma Coisa
          </mat-card-content>
        </li>
        <li>
          <mat-card-content>
            Alguma Coisa
          </mat-card-content>
        </li>
        <li>
          <mat-card-content>
            Alguma Coisa
          </mat-card-content>
        </li>
        <li>
          <mat-card-content>
            Alguma Coisa
          </mat-card-content>
        </li>
        <li>
          <mat-card-content>
            Alguma Coisa
          </mat-card-content>
        </li>
        <li>
          <mat-card-content>
            Alguma Coisa
          </mat-card-content>
        </li>

      </ul>
    </mat-card>
  </mat-drawer>

<mat-drawer-content>
  <header>
    <mat-toolbar>
      <button id="tool" mat-button (click)="drawer.toggle()">
        <a>
          <i class="material-icons">storage</i>
        </a>
      </button>
        <span>
            <button mat-icon-button routerLink=''>
                <a>
                    <i class="material-icons">exit_to_app</i>
                </a>
            </button>
        </span>
    </mat-toolbar>
  </header>

  <body>
  <ul>
    <li>
      <mat-card>
        <div class="example-header">
          <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
      </div>
      
      <div>
      
          <mat-table [dataSource]="dataSource" matSort>
      
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.id}}</mat-cell>
              </ng-container>
      
              <!-- Progress Column -->
              <ng-container matColumnDef="progress">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Progress</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.progress}}%</mat-cell>
              </ng-container>
      
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
                  <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
              </ng-container>
      
              <!-- Color Column -->
              <ng-container matColumnDef="color">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Color</mat-header-cell>
                  <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}}</mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
          </mat-table>
      
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      </mat-card>

      
    </li>
  </ul>

  </body>

  <footer>
    <mat-toolbar>
      <span>Footer</span>
    </mat-toolbar>
  </footer>

</mat-drawer-content>

</mat-drawer-container>
